.news-posts-taxonomy {
    margin-bottom: rem(79);

    @include md {
        margin-bottom: rem(49);
    }
    .eight29-app > :first-child {
        margin: 0;
    }
    .eight29-posts {
        margin-bottom: 0;

        @include lg {
            grid-template-columns: repeat(2, 1fr);
        }
        @include md {
            grid-row-gap: rem(17);
        }
        @include xs {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .eight29-pagination {
        margin-top: rem(45)!important;

        @include xs {
            margin-top: rem(34)!important;
        }
    }
}
