@mixin cf {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

@function vw-size($s, $w: 1440) {
	@return ($s / $w) * 100 + vw;
}

@mixin icon-font( $content: '', $font-size: 24px ) {
	content: $content;
	font-family: $font-iconfont;
	font-size: $font-size;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}