// 1. TEXT
// ---------------------------------------------

// Regular text
$font-base: 'Roboto', sans-serif;
$font-size-base: 21px;
$line-height-base: 32px;

// Colors
$body-color: #fafafa;

$text-color-base: #333d47;
$text-color-alt: #828f9b;
$text-color-opposite: #ffffff;

$heading-color-base: #37414b;

$color-1: #e84b47;
$color-1-hover: #cf4240;
$color-2: #d5d9de;
$color-3: #eff0f2;
$color-4: #f3a5a3;
$color-5: #58697a;
$color-6: #e7e9ec;

// Links
$link-color: $color-1;
$link-hover-color: $color-1;

// 2. WORDPRESS
// ---------------------------------------------

$media-margin: 30px;
$media-margin-mobile: 20px;

// Outline
$outline: rem( 2 ) solid #7aacfe;
