.block-tabs
{
    overflow: hidden;
    h2
    {
        margin: 0 0 19px;

        @include sm()
        {
            margin: 0 0 18px;
        }
    }
    &.block-bottom-spacing
    {
        padding-bottom: 35px;
    }

    .alignnone
    {
        margin: 8px 0 56px;

        @include sm()
        {
            margin: 8px 0 35px;
        }
    }
}
.tabs
{
    &__link-list
    {
        overflow-x: auto;

        margin: 0;
        padding: 0;

        list-style: none;

        white-space: nowrap;

        @include cf();
        @include sm()
        {
            padding: 0 20px;
            &:before,
            &:after
            {
                content: none;
            }
        }
        &-wrapper
        {
            position: relative;

            border-bottom: 1px solid $text-color-alt;

            &:before
            {
                position: absolute;
                z-index: 9;
                top: 0;
                right: 0;
                bottom: 6px;

                display: none;

                width: 20px;

                content: '';

                background-image: linear-gradient(-90deg, rgba(0, 0, 0, .1) 0%, transparent 100%);
            }
            &.has-scroll
            {
                &:before
                {
                    display: block;
                }
            }
        }
    }
    &__link
    {
        font-size: 15px;
        font-weight: 700;

        display: block;
        float: left;

        @include sm()
        {
            font-size: 13px;
            line-height: 25px;

            display: inline-block;
            float: none;
            .slick-initialized &
            {
                float: left;
            }
        }
        a
        {
            position: relative;

            display: block;

            padding: 0 20px 10px;

            transition: color .2s linear;
            text-align: center;
            text-decoration: none;

            color: #000;

            @include sm()
            {
                min-width: 0;
                padding: 0 10px 8px;

                outline: 0;
            }
            &:hover
            {
                color: $color-1;
            }
            &:after
            {
                position: absolute;
                right: auto;
                bottom: -1px;
                left: 0;

                display: block;

                width: 0;
                height: 4px;

                content: '';
                transition: all .2s linear;

                background-color: $color-1;

                @include sm()
                {
                    height: 3px;
                }
            }
        }

        &.active
        {
            a
            {
                color: #000;

                @include sm()
                {
                    color: #000;
                }
                &:after
                {
                    width: 100%;
                }
            }
        }
    }
    &__tab-content
    {
        position: static;

        visibility: visible;

        padding: 42px 0 62px;

        transition: opacity .2s linear;

        opacity: 1;

        @include sm()
        {
            padding: 30px 0 47px;
        }
        &-wrapper
        {
            border-bottom: 1px solid $heading-color-base;
        }
        &:not(.active)
        {
            position: absolute;

            visibility: hidden;

            opacity: 0;
            left: -9999px;
        }
    }
}
.tab-head-wrap
{
    position: relative;

    @include sm()
    {
        margin: 0 -20px;
        .tab-head
        {
            @include cf();
        }
    }
    &.has-scroll
    {
        &:after
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            display: block;

            width: 70px;

            content: '';

            background-image: linear-gradient(270deg, #fffcf2 0%, rgba(255, 252, 242, 0) 100%);
        }
    }
}
