.page-hero{
    &__thumbnail{
        min-height: 464px;
        background-repeat: no-repeat;
        @include md()
        {
            min-height:400px;
        }
        @include sm()
        {
            min-height: 180px;
        }
    }
    &__content{
        padding: 58px 0 47px;
        @include sm()
        {
                padding: 47px 0 38px;
        }
    }
}
