/**
 * Base styles that aim to normalize fonts, and display of elements
 * across browsers, and make writing further styles easier.
 */

/* Set font and clear body padding */
html,
button,
input,
select,
textarea
{
    font-family: $font-base;
}

body
{
    font-family: $font-base;
    font-size: $font-size-base;
    line-height: $line-height-base;

    min-width: 320px;
    margin: 0;

    color: $text-color-base;
    background-color: $body-color;

    -webkit-font-smoothing: antialiased;
    @include sm()
    {
        font-size: 16px;
        line-height: 24px;
    }
    &.lock-scroll
    {
        overflow: hidden;
    }
    &.overlayed{
        position:relative;
        &:before{
            left:0;
            right:0;
            top:0;
            bottom:0;
            background:rgba(0, 0, 0, 0.75);
            z-index:9;
            content:'';
            display:block;
            position:absolute;
        }
    }
}

/* Setting sizes is much more predictable with border-box */
*
{
    &,
    &:before,
    &:after
    {
        box-sizing: border-box;
    }
}

figure
{
    margin: 0;
}

/* Make all images responsive */
img
{
    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

/* Make inputs on iOS look normal */
input
{
    //-webkit-appearance: none;
}

/* Custom List Styles */
ol
{
    margin: 0 0 16px;
    padding: 0;

    counter-reset: item;
    display:block;

    @include sm()
    {
        margin: 0 0 14px;
    }
    li
    {
        position: relative;

        display: block;

        margin: 0 0 16px;
        padding: 0 0 0 20px;

        @include sm()
        {
            margin: 0 0 12px;
        }
        li
        {
            margin: 0;
            padding: 0 0 0 35px;

            @include sm()
            {
                padding: 0 0 0 25px;
            }
        }
    }
    li:before
    {
        font-size: 17px;

        position: absolute;
        left: 0;

        content: counters(item, '.') ' ';
        counter-increment: item;

        @include sm()
        {
            font-size: 14px;
        }
    }
}

ul:not([class])
{
    margin: 0 0 16px;
    padding: 0;

    list-style: none;

    @include sm()
    {
        margin: 0 0 14px;
    }
    li
    {
        position: relative;

        margin: 0 0 16px;
        padding: 0 0 0 20px;

        @include sm()
        {
            margin: 0 0 12px;
        }
        &:last-child
        {
            margin: 0;
        }
        &:before
        {
            position: absolute;
            top: 13px;
            left: 1px;

            display: block;

            width: 5px;
            height: 5px;

            content: '';

            border: 1px solid $text-color-base;
            border-radius: 50%;
            background: $text-color-base;

            @include sm()
            {
                top: 9px;
                left: 0;

                width: 4px;
                height: 4px;
            }
        }
        li
        {
            margin: 0;
            &:before
            {
                left: 4px;

                background: transparent;
            }
        }
        ul
        {
            margin: 0;
        }
    }
}


/* Normalize links across browsers */
a {
    color: $text-color-base;
    text-decoration: none;
    transition: color .2s;
    &:hover {
        color: $text-color-base;
        text-decoration: none;
    }
    &:not([class]) {
        color: $link-color;
        text-decoration: underline;
        &:hover {
            color: $link-hover-color;
        }
    }
}

a:focus,
a:hover
{
    text-decoration: none;

    color: $link-hover-color;
    .page-content &:not([class])
    {
        border-bottom: 1px solid currentColor;
    }
}

.section-title
{
    margin: 0 0 39px;

    text-align: center;

    @include sm()
    {
        margin: 0 0 31px;
    }
}


.container
{
    @include sm()
    {
        max-width: 720px;
        padding: 0 20px;
    }
}
.container-fluid
{
    @include sm()
    {
        padding: 0 20px;
    }
}
.row
{
    @include sm()
    {
        margin: 0 -20px;
    }
}

.col-12
{
    @include sm()
    {
        padding: 0 20px;
    }
}
a,
button,
input,
select,
textarea {
    &:focus {
        outline: none;

        html.user-tab-nav & {
            outline: $outline;
            outline-offset: 0;
        }
    }
}