/* Buttons */
.c-btn {
    @include font(16,24);

    display: inline-flex;

    align-items: center;
    justify-content: center;

    font-family: $font-base;
    font-weight: 700;
    text-align: left;
    text-decoration: none;

    border: none;
    border-radius: 0;
    background: none;
    box-shadow: 0;
    cursor: pointer;

    transition: color .2s, background-color .2s, border-color .2s;

    &:hover {
        text-decoration: none;
    }

    &-primary {
        padding: rem(10) rem(28);

        text-align: center;
        color: $text-color-opposite;

        border: rem(2) solid transparent;
        border-radius: rem(4);
        background-color: $accent;

        @include sm {
            padding: rem(14) rem(29);
        }

        &:hover {
            color: $text-color-opposite;

            background-color: $accent-variant;
        }

        &.c-btn-color-alt {
            // color: $accent;

            // background-color: $text-color-opposite;

            &:hover {
                // color: $accent-variant;
            }
        }
    }

    &-secondary {
        padding: rem(10) rem(32);

        text-align: center;
        color: $accent;

        border: rem(2) solid $accent;
        border-radius: rem(4);
        background-color: transparent;

        @include sm {
            padding: rem(14) rem(29);
        }

        &:hover {
            color: $text-color-opposite;

            border-color: $accent-variant;
            background-color: $accent-variant;
        }

        &.c-btn-color-alt {
            color: $text-color-opposite;

            border-color: $accent-variant;

            &:hover {
                // color: $accent-variant;
                background: $accent-variant;
            }
        }
        &.c-btn-has-icon {
            padding-right: rem(22);
            padding-left: rem(22);
        }
    }

    &-tertiary {
        padding: rem(5) 0;

        color: $accent;

        border: none;
        background-color: transparent;

        // svg path {
        //     stroke: $accent;
        // }

        &:hover {
            color: $accent-variant;
            .c-btn-icon {
                transform: translateX(4px);
            }
            // svg path {
            //     stroke: $accent-variant;
            // }
            // svg .circle {
            //     opacity: 0;
            // }
            // svg {
            //     transform: scale(1.8);
            // }
        }

        &.c-btn-color-alt {
            color: $color-white;

            // svg path {
            //     stroke: $accent-variant-light;
            // }

            &:hover {
                color: $gray-3;

                // svg path {
                //     stroke: $gray-3;
                // }
            }
        }
    }

    &-icon {
        display: inline-flex;

        margin: 0 0 0 rem(10);
        vertical-align: middle;

        line-height: 1;
        color: inherit;

        transition: transform .2s;

        @include sm {
            margin: 0 0 0 rem(8);
        }
    }

    &-wrapper {
        display: block;

        margin: rem(38) 0 rem(55);

        text-align: left;

        @include sm {
            margin: rem(23) 0 rem(32);
        }

        &-small {
            margin: rem(32) 0 rem(32);

            @include sm {
                margin: rem(19) 0;
            }
        }

        &.align-center {
            text-align: center;
        }
        &.align-right {
            text-align: right;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.c-btn-group {
    margin: rem(38) rem(-10);

    font-size: 0;
    line-height: 0;

    @include xs {
        margin: rem(47) 0;
    }

    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }

    &:last-child {
        margin-bottom: 0;
    }
    .c-btn {
        @include xs {
            width: 100%;
        }
    }
    .c-btn-wrapper {
        display: inline-block;

        margin: 0 rem(10) rem(20);

        @include xs {
            display: block;

            margin: 0 0 rem(14);
        }
    }
}
