.staff-card {
    position: relative;
    &__link {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        cursor: pointer;
        &:hover {
            & ~ .staff-card__content  .staff-card__title {
                color: $accent;
            }
            & ~ .staff-card__thumbnail img {
                transform: scale(1.05);
            }
        }
    }
    &__category {
        margin-bottom: rem(3);
        a {
            @include font(12,16);

            position: relative;
            z-index: 2;

            font-weight: 700;
            color: $color-black;
            letter-spacing: rem(1.2);
            text-transform: uppercase;

            transition: color .2s;
            &:hover {
                color: $accent;
            }
        }
    }
    &__thumbnail {
        margin-bottom: rem(13);

        overflow: hidden;
        img {
            width: 100%;
            height: 100%;

            object-fit: cover;

            transition: transform .2s;
        }
    }
    &__title {
        @include font(20,24);

        margin-bottom: rem(10);

        font-weight: 700;

        transition: color .2s;

        @include md {
            margin-bottom: rem(2);
        }
        @include sm {
            @include font(16,24);
        }
    }
    &__position {
        @include font(16,24);

        font-weight: 300;
        color: $gray-2;

        @include sm {
            @include font(14,24);
        }
    }
}

.staff-link,
.news-link {
    color: $color-dark;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $accent;
    }
}

.news-link {
    font-weight: 500;
}