/* Main Footer */
.main-footer {
    //top
    &__top {
        padding: rem(70) 0;

        color: $color-white;

        background-color: $color-dark;

        @include md {
            padding: rem(43) 0 rem(48);
        }
    }
    &__top-top {
        margin-bottom: rem(60);

        @include sm {
            margin-bottom: rem(49);
        }
    }

    &__top-bottom-left {
        display: flex;

        align-items: center;

        @include lg {
            order: 1;
        }
        @include md {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            order: 1;

            text-align: center;

            @include md {
                margin-top: rem(16);
            }
        }

        & > div {
            display: inline-flex;
        }
    }

    .footer-top {
        &__logo {
            margin: rem(3) 0 rem(30);

            @include lg {
                margin-top: 0;
            }
            @include md {
                margin: 0 0 rem(18);
            }

            svg {
                display: block;

                max-width: 100%;

                @include md {
                    max-width: rem(212);
                }
            }
        }
        &__address {
            @include font(14,24);

            margin-bottom: rem(18);

            @include md {
                margin-bottom: rem(23);
            }
        }
        &__phone {
            margin: 0;

            a {
                @include font(14,24);

                color: $color-white;

                transition: color .2s;
                &:hover {
                    color: $accent-variant-light;
                }
            }
        }
        &__col-menu {
            @include md {
                margin-top: rem(43);
                margin-bottom: rem(36);
            }
            .col-6 {
                &:first-child {
                    @include md {
                        padding-right: rem(10);
                    }
                }
                &:last-child {
                    @include md {
                        padding-left: rem(10);
                    }
                }
            }
        }
        &__menu-title {
            @include font(20,24);

            margin-bottom: rem(10);

            font-weight: 700;
            color: $gray-7;

            @include md {
                margin-bottom: rem(5);

                font-size: rem(16);
            }
        }
        &__menu {
            ul {
                padding: 0;

                margin: 0;

                list-style: none;
            }
            a {
                @include font(14,16);

                display: inline-block;

                padding: rem(11.5) 0;

                font-weight: 700;
                color: $color-white;

                transition: color .2s;

                @include md {
                    padding: rem(8) 0;

                    font-size: rem(12);
                }

                &:hover {
                    color: $accent-variant-light;
                }
            }
        }
        &__newsletter-title {
            @include font(20,24);

            margin-bottom: rem(14);

            font-weight: 700;
            color: $gray-7;

            @include md {
                margin-bottom: rem(5);

                font-size: rem(16);
            }
        }
        &__newsletter-text {
            @include font(12,16);

            margin-bottom: rem(13);

            font-weight: 400;
            color: $gray-3;

            @include sm {
                margin-bottom: rem(15);
            }
        }
        &__newsletter {
            @include font(16,24);

            color: $color-white;
            form {
                display: flex;

                flex-wrap: wrap;
            }

            input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
            textarea {
                @include ie11 {
                    height: rem(1);
                }
                @include font(16,24);

                -webkit-appearance: none;

                display: inline-block;

                min-height: rem(56);
                padding: rem(5) rem(24) rem(5) rem(24);

                position: relative;
                margin-bottom: rem(18);

                font-family: $font-base;
                font-weight: 400;
                line-height: normal;
                color: $text-color-base;

                border: none;
                border-radius: rem(2);
                background-color: $color-white;
                box-shadow: none;

                @include sm {
                    display: block;

                    min-height: rem(48);
                    padding: rem(5) rem(17) rem(5) rem(17);

                    margin-bottom: rem(8);
                }
                &::placeholder {
                    color: $gray-2;
                    letter-spacing: 0;
                    text-transform: none;
                }
                &:-ms-input-placeholder {
                    color: $gray-2;
                    letter-spacing: 0;
                    text-transform: none;
                }
                &::-ms-clear {
                    display: none;
                }
            }
            input[type=text] {
                max-width: rem(208);

                margin-right: rem(13);

                @include sm {
                    display: block;

                    width: 100%;
                    max-width: 100%;

                    margin-right: 0;
                }
            }
            input[type=email] {
                width: calc(100% - #{rem(221)});

                @include sm {
                    display: block;

                    width: 100%;
                    max-width: 100%;
                }
            }
            input[type=submit] {
                @include font(16,24);

                display: inline-block;

                min-width: rem(126);
                min-height: rem(48);
                padding: rem(12) rem(32);

                margin-bottom: 0;

                font-weight: 700;
                text-align: center;
                text-align: center;
                color: $text-color-opposite;

                border: none;
                border-radius: rem(4);
                background-color: $accent;
                box-shadow: 0;
                cursor: pointer;

                transition: color .2s, background-color .2s, border-color .2s;

                @include sm {
                    display: block;

                    width: 100%;
                    min-height: rem(56);
                    padding: rem(16) rem(31.5);

                    margin-top: rem(8);
                }

                &:hover {
                    text-decoration: none;
                }

                &:hover {
                    color: $text-color-opposite;

                    background-color: $accent-variant;
                }
                &.color-alt {
                    color: $accent;

                    background-color: $text-color-opposite;

                    &:hover {
                        color: $accent-variant;
                    }
                }
            }
        }
        &__copy {
            @include font(12,16);

            @include md {
                margin-bottom: rem(15);
            }
        }
        &__links {
            display: flex;

            flex-wrap: wrap;
            align-items: center;

            margin-left: rem(40);

            @include md {
                margin-left: 0;
            }

            a {
                @include font(12,16);

                display: inline-block;

                margin-right: rem(10);

                color: $color-white;

                transition: color .2s;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: $accent-variant-light;
                }
            }
        }
        &__socials {
            display: flex;

            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;

            @include lg {
                justify-content: flex-start;
            }
            @include md {
                justify-content: center;

                margin-left: rem(-17.8);
            }
        }
        &__social {
            @include font(12,16);

            display: inline-flex;

            align-items: center;
            justify-content: center;

            padding: rem(4) rem(17.8) rem(4);

            position: relative;
            margin-bottom: 0;

            color: $color-white;

            transition: color .2s;

            @include lg {
                margin-bottom: rem(30);
            }
            @include sm {
                margin-bottom: rem(16);
            }

            &:after {
                content: '';

                width: rem(1);
                height: 100%;

                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);

                background-color: $gray-3;
            }
            &:first-child {
                padding-left: 0;

                @include md {
                    padding-left: rem(17.8);
                }
            }
            &:last-child {
                padding-right: 0;

                @include md {
                    padding-right: rem(17.8);
                }

                &:after {
                    display: none;
                }
            }
            &:hover {
                color: $accent-variant-light;
            }
        }
    }
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;

    > h2 {
        display: none;
    }

    input[type="email"], 
    input[type="text"] {
        width: 100%;
        max-width: 100%;
    }

    p {
        margin-bottom: 0;

        &:empty {
            display: none;
        }
    }

    .indicates-required {
        margin-top: 16px;
        font-size: 1.2rem;
        order: 99;
    }
}

.mc-field-group {
    label {
        display: block;
        margin-bottom: 8px;
        font-size: 1.6rem;
        line-height: 1.2;

        + br {
            display: none;
        }
    }
}

#mc_embed_signup {
    p:empty {
        display: none;
    }
}

#mc_embed_signup_scroll {
    width: 100%;
}

.footer-top__newsletter-text + p {
    display: none;
}