/* BASE TABLES */
#page {
    .tablepress-table-name {
        font-size: rem( 24 );
        line-height: rem( 28 );
        letter-spacing: rem( 1.5 );
        text-transform: none;
    }

    .tablepress {
        padding: 0 rem( 20 ) 0 0;

        margin: rem( 33 ) 0 rem( 33 );

        white-space: nowrap;

        @include sm {
            margin: rem( 16 ) 0 rem( 16 );
        }

        caption {
            display: none;
        }

        thead {
            th {
                padding: 0 rem( 21 ) rem( 16 );

                position: relative;

                font-size: rem( 12 );
                font-weight: 700;
                color: #000000;
                letter-spacing: rem( 1 );
                text-transform: uppercase;

                border: none;
                background-color: transparent;


                br {
                    display: none;
                }
            }
            tr {
                border: none;
            }
        }

        tbody {
            td {
                padding: rem( 17 ) rem( 19 ) rem( 17 );

                position: relative;

                font-size: rem( 16 );
                line-height: rem( 20 );
                color: #000000;

                border: 0;

                @include sm {
                    padding: rem( 17 ) rem( 90 ) rem( 17 ) rem( 21 );
                }
            }

            tr {
                position: relative;

                border-bottom: rem( 1 ) solid rgba($color-1, .6);


                &:nth-child(2n + 1) {
                    background: rgba( $color-1, .1);
                }
            }
        }
    }

    .tablepress-scroll-wrapper {
        position: relative;
        margin-right: rem( -20 );

        &.has-scroll {
            .tablepress {
                display: block;

                overflow-x: auto;
            }

            &::before {
                content: '';
                pointer-events: none;

                display: block;

                width: rem( 115 );

                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                bottom: 0;

                background: linear-gradient(to right, rgba(#ffffff, 0) 0%, #ffffff 100%);
            }
        }
    }
}
