.leadparagraph
{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;

    margin: 0 0 60px;

    &.align-left {
        text-align: left;
    }

    &.align-right {
        text-align: right;
    }

    &.align-center {
        text-align: center;
    }

    @include sm()
    {
        font-size: 16px;
        line-height: 24px;

        margin: 0 0 44px;
    }
}

.highlight-text
{
    padding: 3px 0;

    background: $color-2;
}

blockquote.alternate,
blockquote {
    padding: 0 rem(40);
    margin: rem(48) 0;
    font-size: rem(34);
    font-weight: 400;
    font-style: italic;
    line-height: rem(40);
    text-align: left;
    border-left: rem(4) solid $text-color-base;
    @include sm {
        padding: 0 0 0 rem(15);
        margin: rem(36) 0;
        font-size: rem(25);
        line-height: rem(24);
    }
    & > p {
        margin: 0;
        &::before,
        &::after {
            content: '"';
            display: inline;
            @include sm {
                content: none;
            }
        }
        &::after {
            content: '"';
            @include sm {
                content: none;
            }
        }
    }
    footer {
        margin-top: rem(32);
        @include sm {
            margin-top: rem(24);
        }
        &:before {
            content: '–';
            display: inline;
            margin-right: rem(10);
            @include sm {
                margin-right: rem(5);
            }
        }
    }
}
