/* Main Footer */
.main-footer
{
    &__top
    {
        min-height: 305px;

        background: $color-5;

        @include sm()
        {
            min-height: 120px;
        }
    }
    &__bottom
    {
        min-height: 80px;

        background: $text-color-alt;

        @include sm()
        {
            min-height: 48px;
        }
    }
}
